#root {
  --base-color: rgb(16, 98, 185);
  --text-color: white;
  --font-family: Courier;
  --font-size: 16px;
  --accent-color: rgb(226, 226, 226);
  --hover-color: rgba(72, 136, 214, 0.68);
  --active-color: rgba(66, 119, 184, 0.68);
  --shadow-color:rgba(180, 180, 180, 0.358);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
