#root {
  --base-color: rgb(16, 98, 185);
  --text-color: white;
  --font-family: Courier;
  --font-size: 16px;
  --accent-color: rgb(226, 226, 226);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
